.footer {
    margin-bottom: 70px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 164px);
    justify-content: center;
    gap: 2rem;
}
.footer-box {
    display: flex;
    flex-direction: column;
}
.footer-box h2 {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.footer-box a {
    text-decoration: underline;
    color: #1E90FF;
    margin-bottom: 4px;
}