@media (max-width: 478px) {


  .experience p {
    width: 95%;

  }

  .Copyright p {
    font-size: 15px;
  }

  .footer {
    text-align: center;
  }
}

@media (max-width:656px) {
  .conteudo {
    margin-left: 0px;
    padding: 20px;



  }

  .section-desc {
    justify-content: center;
    width: 90%;
    /* A seção ocupa 100% da largura da tela */
    padding: 22px 0px 10px 0px;
    /* Padding igual de todos os lados */

    border-radius: 10px;
  }

  .image-ux {
    justify-content: center;
    margin-left: 0;
  }

  .section-desc .title {
    width: 80%;
  }


  .section-desc p {
    z-index: 1;
    width: 98%;
    font-size: 15px;
  }

  .image-ux img {
    width: 300px;
  }


  .section-desc .title h1 {
    font-size: 20px;
  }

  /*SOBRE RESPONSIVO*/

  .sobre {
    justify-content: center;
    width: 90%;
    /* A seção ocupa 100% da largura da tela */
    padding: 22px 0px 10px 0px;
    /* Padding igual de todos os lados */
  }

  .sobre-desc {
    width: 98%;
  }

  .sobre-image {
    justify-content: center;
    width: 90%;
    /* A seção ocupa 100% da largura da tela */
    padding: 22px 0px 10px 0px;
    /* Padding igual de todos os lados */

  }

  .sobre-image img {
    width: 350px;
  }



}

@media (min-width: 658px) and (max-width: 800px) {
  .conteudo {
    margin-left: 0px;
    padding: 20px;



  }

  .section-desc {
    justify-content: center;
    width: 80%;
    /* A seção ocupa 100% da largura da tela */
    padding: 22px 0px 10px 0px;
    /* Padding igual de todos os lados */

    border-radius: 10px;
  }

  .image-ux {
    justify-content: center;
    margin-left: 0;
  }

  .section-desc .title {
    width: 80%;
  }


  .section-desc p {
    z-index: 1;
    width: 98%;
    font-size: 15px;
  }

  .image-ux img {
    width: 300px;
  }


  .section-desc .title h1 {
    font-size: 20px;
  }

  /*SOBRE RESPONSIVO*/

  .sobre {
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 80px;
    
  }

  .sobre-image img {
    width: 350px;
  }

}

  





@media (max-width:648px) {


  .home-content,
  .specs-container {
    grid-template-columns: 1fr;
  }


  .specs-img {
    padding-top: 2rem;
  }

  .shop-container {
    grid-template-columns: repeat(2, 164px);
    gap: 1rem;
  }
}

@media (max-width: 411px) {
  .skill-item {
    width: 95%;
  }

  .centered-text {
    top: 18%;
  }
}


@media (max-width: 360px) {





  .background {
    width: 100%;
  }


  .sobre img {
    width: 230px;
  }

  .nav {
    padding: 4px;
  }


  .social .bx {
    font-size: 25px;
  }


  .shop-container {
    grid-template-columns: repeat(2, 144px);
  }
}


@media (max-width: 300px) {
  .shop-container {
    grid-template-columns: repeat(1, 144px);
  }

}


@media (max-width: 768px) {


  .conversa {
    width: 100%;
  }

  .conversa p {
    font-size: 12px;
    color: #C4CFDE;
  }



  .name {
    flex-direction: column;
    /* Coloca o nome e os ícones em coluna se necessário */
  }

}

@media (max-width: 500px) {



  .conjunto-skills p {
    text-align: center;
    width: 100%;
  }


  .sobre_text {
    margin: 10px;
  }


}

@media screen and (max-width: 480px) {


  .section-desc {
    width: 100%;
  }

  .section-desc h1 {
    font-size: 16px;
  }

}

@media (max-width: 358px) {
  .experience p {
    height: 95%;

  }
}








@media screen and (min-width: 945px) {
  .skills-list {
    width: 1000px;
  }

  
}

@media (min-width: 1200px)  {
  .section-desc, .sobre{
   max-width: 1200px;
   margin: 40px auto;
   justify-content: center;
    
  }

  .sobre {
    margin-top: 100px;
    margin-bottom: 200px;
  }

  .my{
    max-width: 1200px;
   margin: 20px auto;
   justify-content: center;
  }

  .conteudo {
    padding-top: 100px;
    margin-bottom: 200x;
  }

 
  
}


@media (max-width: 1080px) {


  .container {
    margin: 0 auto;
    width: 90%;

  }

  .container2 {
    margin: 0 auto;
    width: 90%;

  }

  

  

}