@media screen and (max-width: 847px){
  #personal2{
    display: none;
  }
}

@media screen and (min-width: 848px){
  #personal1{
    display: none;
  }

 
}

@media screen and (min-width: 945px) {
  .skills-list {
    width: 1000px;
  }
}


@media (max-width: 1080px) {


  .container {
    margin: 0 auto;
    width:90%;
    
}

.container2 {
  margin: 0 auto;
  width:90%;
  
}

  section{
      padding: 50px 0;
  }

  header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
 
}


@media (max-width: 768px) {

  .main {
    width: 100%;
  }

  .conversa p {
    font-size: 13px;
    color: #C4CFDE;
}


  .header-title {
    height: auto; /* Permite que a altura se ajuste */
    padding: 10px; /* Reduz o padding em telas menores */
  }
  
  .name {
    flex-direction: column; /* Coloca o nome e os ícones em coluna se necessário */
  }
  
}

@media (max-width: 500px){

  .conjunto-skills p{  
    text-align: center;
    width: 100%; 
  }


  .sobre_text{
      margin: 10px;
  }

  
}
@media (max-width: 358px){
  .experience p{
    height: 95%;
    
  }
}




@media (max-width: 478px){
  .experience p{
    width: 95%;
    
  }

  .Copyright p{
      font-size: 15px;
  }

  .footer{
      text-align: center;
  }
}

@media (max-width:648px) {

  .home-content,
  .specs-container{
      grid-template-columns: 1fr;
  }
  
  
  .specs-img {
      padding-top: 2rem;
  }
  .shop-container {
      grid-template-columns: repeat(2, 164px);
      gap: 1rem;
  }
}

@media (max-width: 411px){
  .skill-item{
    width: 95%;
  }
  .centered-text{
    top: 18%;
  }
}


@media (max-width: 360px){

  .background{
    width: 100%;
  }
  

  .sobre img{
      width: 230px;
  }
  .nav {
      padding: 4px;
  }
  .home-text h1 {
      font-size: 1.3rem;
  }

  .social .bx{
    font-size: 25px;
  }
  
  .heading {
      font-size: 2rem;
  }
  .shop-container {
      grid-template-columns: repeat(2, 144px);
  }
}
@media (max-width: 300px){
  .shop-container {
      grid-template-columns: repeat(1, 144px);
  }
  
}
}