@media screen and (max-width: 847px){
  #personal2{
    display: none;
  }
}

@media screen and (min-width: 848px){
  #personal1{
    display: none;
  }

 
}

@media screen and (min-width: 945px) {
  .skills-list {
    width: 1000px;
  }
}


@media (max-width: 1080px) {


  .container {
    margin: 0 auto;
    width:90%;
}
  section{
      padding: 50px 0;
  }

  header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
 
}

header.shadow {
  background: var(--bg-color);
  box-shadow: 1px 2px 4px rgb(15 54 55 / 10%);
  transition: 0.2s;
}

  .home-text h1{
      font-size: 3rem;
  }
  .experience h3{
    font-size: 2rem;
  }
}
@media (max-width: 768px) {

 
  #menu-icon{
      display: initial;
      z-index: 150;
  }
  .navbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: #111215;
      display: flex;
      flex-direction: column;
      text-align: center;
      box-shadow: 0 5px 8px rgb(15 54 55 / 10%);
      clip-path: circle(0% at 50% 0);
      transition: .5s;
  }
  .navbar a {
      display: block;
      padding: 12px;
  }
  .navbar.active{
      clip-path: circle(144% at 50% 0);
  }
  .home-text h1{
      font-size: 2rem;
  }

  .home-text h3{
      font-size: 20px;
  }
  p{
      font-size: 0.875rem;
  }
  .btn{
      padding: 15px 16px;
  }
  .heading {
      font-size: 2.4rem;
  }
}

@media (max-width: 500px){

  .conjunto-skills p{  
    text-align: center;
    width: 100%; 
  }


  .sobre_text{
      margin: 10px;
  }

  
}
@media (max-width: 358px){
  .experience p{
    height: 95%;
    
  }
}




@media (max-width: 478px){
  .experience p{
    width: 95%;
    
  }

  .Copyright p{
      font-size: 15px;
  }

  .footer{
      text-align: center;
  }
}

@media (max-width:648px) {

  .home-content,
  .specs-container{
      grid-template-columns: 1fr;
  }
  
  
  .specs-img {
      padding-top: 2rem;
  }
  .shop-container {
      grid-template-columns: repeat(2, 164px);
      gap: 1rem;
  }
}

@media (max-width: 411px){
  .skill-item{
    width: 95%;
  }
  .centered-text{
    top: 18%;
  }
}


@media (max-width: 360px){
  

  .sobre img{
      width: 230px;
  }
  .nav {
      padding: 4px;
  }
  .home-text h1 {
      font-size: 1.8rem;
  }
  
  .heading {
      font-size: 2rem;
  }
  .shop-container {
      grid-template-columns: repeat(2, 144px);
  }
}
@media (max-width: 300px){
  .shop-container {
      grid-template-columns: repeat(1, 144px);
  }
  
}
