.Destaque h1{
    font-size: 45px;
    margin-top: 230px;
    color: #C4CFDE;
    text-align: center;
}




.container_projects{
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px;
    background-color: #1B1D21;
    border-radius: 10px;
}


.btn-view {
    background-color: #1B1D21;
    box-shadow: 10px 10px 19px #191b1f, -6px -6px 15px #23272b;
    color: #FF014E;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn-view i{
    margin-left: 10px;
}

.btn-view.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}

.btn-view:hover {
    box-shadow: 10px 10px 19px #23272b, -6px -6px 15px  #191b1f;
}


.faça-mais{
    margin-bottom: 200px;
}

/* faça mais*/
.faça-mais .container_projects{
    margin-top: 110px; 
    display: flex;
    align-items: center;
}
.faça-mais .faça-mais-text{
    width: 50%;
    padding: 0 40px;
}
.faça-mais .faça-mais-text h3{
    color: #C4CFDE;
    font-size: 30px;
}
.faça-mais .faça-mais-text p{
    color: #C4CFDE;
    margin:5px 0 10px 0;
}
.faça-mais .faça-mais-img{
    width: 50%;
}
.faça-mais .faça-mais-img img{
    width: 100%;

}


@media(max-width: 830px){
    /* página home responsive */
    .faça-mais .faça-mais-text{
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
    }
    .faça-mais .container_projects{
        flex-direction: column;
    }
    .faça-mais .faça-mais-text h3{
        font-size: 48px;
    }
    .faça-mais .faça-mais-text,
    .faça-mais .faça-mais-img{
        width: 100%;
    }
    
    
}
@media (max-width:500px) {
    .faça-mais .faça-mais-text h3{
        font-size: 30px;
    }

    .faça-mais .faça-mais-text p{
        font-size: 14px;
    }

    
}

@media (max-width:768px) {
    .container_projects{
        width: 99%;
    }
}




