/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Finlandica", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {

    background-color: #212428;
}

:root {
    --text-color: #161616;
    --hover-color: hsl(0, 0%, 14%);
    --bg-color: #111215;
}

/* Variables */ 

/* Custom Scroll Bar */
html::-webkit-scrollbar {
    width: 0.5rem;
    background: #212428;
}

html::-webkit-scrollbar-thumb {
    border-radius: 2rem;

}


.conversa {
    margin: auto;
    width: 375px;
    margin-top: 300px;
    text-align: center;
}

.conversa h3 {
    font-size: 45px;
    color: #fff;
    
}

.conversa p {
    font-size: 20px;
    color: #C4CFDE;
}




.social {
    padding-top: 20px;
}
.social a{
    margin: 0px 10px 0px 20px;
    box-shadow: 10px 10px 19px #191b1f, -6px -6px 15px #23272b;
}



.social a i {
    
    margin-left: 10px;
    border-radius: 6px;
    background-image: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #191b1f, -10px -10px 19px #23272b;
    transition: 0.4s all;
}




.social a i:hover {
    transform: translateY(-10px);
}

.social2 {
    background: linear-gradient(to right, #12C2E9, #C471ED, #F64F59);
    /* Gradiente da esquerda para a direita */
    -webkit-background-clip: text;
    /* Clip para o texto */
    -webkit-text-fill-color: transparent;
    display: flex;
    column-gap: 1rem;
}

.social .bx {
    cursor: pointer;
    padding: 10px;
    border-radius: 0.5rem;
    font-size: 30px;
}

.social2 .bx {
    cursor: pointer;
    padding: 10px;
    border-radius: 0.5rem;
    font-size: 30px;
}

.Copyright {
    text-align: center;
    padding: 20px;
}

.Copyright p {
    font-size: 15px;
    color: #a4a7b1;
}





@media(max-width: 830px) {
    /* página home responsive */



}


/* Esconde a imagem em telas menores */
@media (max-width: 768px) {}



@media (max-width:500px) {}