@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
nav {
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 100px;
    flex-wrap: wrap;
    transition: box-shadow 0.3s ease;
    z-index: 100;
}

nav.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav .logo {
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 12px;
    letter-spacing: 1px;
    position: relative;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

nav.shadow-down {
    box-shadow: 0 -6px 15px rgba(0, 0, 0, 1); /* Sombra preta e intensa */
    transition: box-shadow 0.3s ease; /* Transição suave */
}





nav ul li a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: #99AAFC;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.4s ease-in-out;
}

nav ul li a.active,
nav ul li a:hover {
    color: #99AAFC;
}

nav ul li a.active::after,
nav ul li a:hover::after {
    width: 100%;
}

nav .menu-btn i {
    color: #C9A66B;
    cursor: pointer;
    display: none;
}

/* Animação de transição entre as seções */



nav .menu-btn i{
    color: #C9A66B ;
    cursor: pointer;
    display: none;
}
@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #fff;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #99AAFC
    }   
}




/* CONTEÚDO PRINCIPAL*/

.conteudo{
    overflow-x: hidden;
    margin-left: 60px;
    padding: 40px;
    color: var(--text-secondary-color);
    background-color: var(--text-color);
    transition: all 0.5s ease;
}

.conteudo.ativo{
    margin-left: 380px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.section-desc {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px;
    align-items: center;
    height: 100%;
    margin-right: 60px;
    border-radius: 20px;
    padding: 50px;
    background-color: #f4c0514d;
}

.section-desc .title{
    width: 50%;
}

.section-desc h1{
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 30px;
}

.image-ux{
    width: 40%;
}

.image-ux img{
    width: 400px;
}




/* SOBRE MIM */

.sobre {
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap; 
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 60px;
}

.sobre-desc{
    width: 50%;
}

.sobre-desc h3{
    font-size: 30px;
}



.sobre-image {
    width: 40%;
}
.sobre-image img{
    width: 400px;
}

.social {
    padding-top: 20px;
}
.social a{
    margin: 0px 0px 0px 20px;
    
}

.social .bx {
    cursor: pointer;
    padding: 5px;
    border-radius: 0.5rem;
    font-size: 30px;
}



.social a i {
     
    border-radius: 6px;
    background-image: linear-gradient(13deg, #1e2024, #23272b);
    box-shadow: 5px 5px 5px #191b1f, -1px -4px 10px #23272b;
    transition: 0.2s all;
}




.social a i:hover {
    transform: translateY(-5px);
}


/* COOMPETÊNCIAS TECNICAS*/


.tecnologias h3{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 35px;
    justify-content: center;
}

/* Container for all skill columns */
.skills-container {
    display: flex;
    flex-wrap: wrap; /* Wrap columns in smaller screens */
    justify-content: space-between;
    gap: 100px;
    max-width: 1200px;
    margin: auto;
    font-family: Arial, sans-serif;
}



/* Each column container */
.skill-column {
    flex: 1; /* Each column takes equal space */
    min-width: 250px; /* Min width to keep columns side by side until smaller screens */
}

/* Skill meter container */
.skill-meter-container {
    margin-bottom: 20px;
}

/* Text label for each skill */
.skill-label {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 16px;
    color: #000;
}

/* Outer skill bar */
.skill-bar {
    position: relative;
    width: 100%;
    height: 15px;
    background-color: #999999;
    box-shadow: inset 8px 8px 16px rgba(255, 255, 255, 0.4), inset -8px -8px 16px rgba(255, 255, 255, 0.4);

    border-radius: 12.5px;
    overflow: hidden;
}

/* Inner bar that fills up */
.skill-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0; /* Start width for animation */
    background: #99a9fcb7;
    border-radius: 12.5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
    color: #121212;
    font-weight: 500;
    transition: #000 2s ease-in-out;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    .skills-container {
        flex-direction: column; /* Stack columns vertically */
        align-items: center;
    }
}



/* MEU TRABALHO*/

.what {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.what .feature{
    font-size: 16px;
    color: #FF014E;
}

.what h1{
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
    color: #000;
}

.cardDo{
    display: flex;
    align-items: center;
    gap: 10px;
}


.strategy {
    margin-top: 50px;
    gap: 50px;
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem linha em telas menores */
    justify-content: center;
    align-items: center;
}

.strategy div {
    flex: 1 1 300px; /* Define um tamanho mínimo e permite que os cards cresçam */
    max-width: 330px; /* Limita o tamanho máximo de cada card */
    min-width: 250px; /* Define o tamanho mínimo para um card */
    box-sizing: border-box;
}


.card-box{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 35px 50px 35px 50px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1B1D21;
    width: 360px;
    transition: 0.5s ease;
}

.card-box:hover{
    transform: translateY(-10px);

    p, h3{
        color: #fff;
    }
}

.card-box img{
    margin-bottom: 20px;
    border-radius: 3px;
    height: 100%;
    width: 100%;
}


.card-box h3{
    margin-bottom: 20px;
    color: #C4CFDE;
    font-size: 25px;
}

.card-box p{
    margin-bottom: 20px;
    color: #C4CFDE;


}

.card-box i{
    font-size: 26px;
    color: #FF014E;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .strategy {
        gap: 20px;
    }

    .strategy div {
        flex: 1 1 93%; /* Cada card ocupará toda a largura */
        max-width: 93%; /* Removemos o limite para ocupar a largura completa */
    }

    .card-box {
        width: 97%;
    }
}


/* MEUS PROJECTOS*/

.projects {
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
}

.Destaque h1{
    font-size: 35px;
    margin-top: 230px;
    color: #EC994B;
    text-align: center;
}

.container_projects{
    max-width: 1100px;
    gap: 30px;
    margin: 0 auto;
    padding: 50px;
}


.btn-view {
    font-size: 16px;
    background: #121212;
    color: #F4C151;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: 0.1s;
}

.btn-view i{
    margin-left: 10px;
}

.btn-view.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}



.faça-mais{
    height: 100%;
    margin: auto;
    justify-content: center;
    width: 85%;
}

/* faça mais*/
.faça-mais .container_projects{
    margin-top: 30px; 
    display: flex;
    align-items: center;
}
.faça-mais .faça-mais-text{
    width: 60%;
    padding: 0 40px;
}
.faça-mais .faça-mais-text h3{
    color: #1a1a1a;
    font-size: 25px;
}
.faça-mais .faça-mais-text p{
    color: #1a1a1a;
    margin:5px 0 10px 0;
}
.faça-mais .faça-mais-img{
    width: 50%;
}
.faça-mais .faça-mais-img img{
    box-shadow: 2px 2px 6px rgba(35, 39, 43, 0.3), -2px -2px 6px rgba(25, 27, 31, 0.3);

    width: 100%;

}

.img-zoom {
    transition: transform 0.3s ease; /* Suaviza o efeito */
  }
  
  .img-zoom:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
  }


@media(max-width: 830px){
    /* página home responsive */
    .faça-mais .faça-mais-text{
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
    }
    .faça-mais .container_projects{
        flex-direction: column;
    }
    .faça-mais .faça-mais-text h3{
        font-size: 30px;
    }
    .faça-mais .faça-mais-text,
    .faça-mais .faça-mais-img{
        width: 100%;
    }
    
    
}
@media (max-width:500px) {
    .faça-mais .faça-mais-text h3{
        font-size:25px;
    }

    .faça-mais .faça-mais-text p{
        font-size: 14px;
    }

    
}

@media (max-width:393px) {

    nav {
        padding: 0 30px 0 80px;
    }
    
    .faça-mais .faça-mais-img{
        width: 100%;
    }

    .faça-mais .faça-mais-img img{
        max-width: 393px;
        justify-content: center;

    }

    .faça-mais .faça-mais-text{

        margin-left: 0px;
        width: 100%;
    }

    .faça-mais .faça-mais-text p{
        font-size: 13px;
    }

    
}

@media (max-width:768px) {
    .container_projects{
        width: 100%;
    }
}







/* FOOTER SECTION*/

footer{
    
    padding-top: 4px;
    background: #242428;
}


.footer {
    width: 100%;
    background: #242428;
    margin-bottom: 30px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 164px);
    justify-content: center;
    gap: 4rem;
}
.footer-box {
    display: flex;
    flex-direction: column;
}
.footer-box h2 {
    color: #F4C151;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.footer-box a {
    
    text-decoration: none;
    color: #C4CFDE;
    margin-bottom: 4px;
}

.footer-box a:hover {
    text-decoration: underline;
    color: #C4CFDE;
}

.social2 {
    display: flex;
    column-gap: 1rem;
}

.social2 a i {
    color: #C4CFDE;
    border-radius: 6px;
    background-image: linear-gradient(13deg, #1e2024, #23272b);
    box-shadow: 2px 2px 5px #9FAFFC, -2px -2px 2px #23272b;
    transition: 0.2s all;
}

.social2 a i:hover{
    transform: translateY(-5px);
}



.social2 .bx {
    cursor: pointer;
    padding: 5px;
    border-radius: 0.5rem;
    font-size: 30px;
}


.conversa {
    margin: auto;
    width: 375px;
    margin-top: 108px;
    text-align: center;
}

.conversa h3 {
    font-size: 30px;
    color: #F4C151;
    
}

.conversa p {
    font-size: 15px;
    color: #C4CFDE;
}


.Copyright {
    text-align: center;
    padding: 20px;
}

.Copyright p {
    font-size: 15px;
    color: #C4CFDE;
}



